<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" defer></script>
    <title>
        {% block title %}
        {{ title }}
        {% endblock %}
    </title>
    {% block stylesheet %}

    {% endblock %}
</head>

<body>
    <header class="bg-black top-0 w-full mb-4">
        <nav class="bg-black text-white p-4 font-semibold">
            <ul class="flex flex-row">
                <li class="mr-[38px] text-lg"><a href="{{ url('home') }}">
                        <h2>BIBLIOTHÈQUE</h2>
                    </a></li>
                <li class="mr-[10px]"><a href="{{ url('auteur') }}">Auteurs</a></li>
                <li class="mr-[10px]"><a href="{{ url('livre') }}">Livres</a></li>
                <li class="mr-[10px]"><a href="{{ url('categorie') }}">Catégories</a></li>
                {% if user_session %}
                <li class="mr-[10px]"><a href="{{ url('deconnexion') }}">Se déconnecter</a></li>
                {% else %}
                <li class="mr-[10px]"><a href="{{ url('connexion') }}">Se connecter</a></li>
                {% endif %}
                {% if user_session %}
                <li class="uppercase">{{user_session}}</li>
                {% else %}
                <li>Pas connecté</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block body %}

    {% endblock %}
</body>
{% block javascript %}

{% endblock %}

</html>