{% extends "layout.html.twig" %}


{% block body %}
{# <pre>
{{ dump(livres) }}
</pre> #}
<div class="flex justify-center flex-wrap gap-x-8 gap-y-4">
    {% for livre in livres %}
        <div class="max-w-sm rounded overflow-hidden shadow-2xl border border-black">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{livre.titre}}</div>
                <p class="text-gray-700 text-base">
                    {{livre.synopsis|markdown_to_html|raw}}
                </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{livre.auteur_prenom}} 
                    {{livre.auteur_nom}}</span>
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{livre.categorie_nom}}</span>
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{livre.annee_publication}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}